{% extends 'staff_base.html' %}
{% block title %} Manage item {% endblock title %}
{% block content %}
<div class="pagetitle">
  <h1>Item</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Manage item</li>
    </ol>
  </nav>
  
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Registered items</h5>
      
      <div class="row my-1">
        <div class="col-md-8"></div>
        
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="searchField" placeholder="Search" />
            </div>
        </div>
    </div> <!--end search bar-->

      <!-- Table with stripped rows -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Model</th> 
            <th scope="col">Category</th>
            <th scope="col">Store</th>
            <th scope="col">Quantity</th>
            <th scope="col">Reorder Level</th>
            <th scope="col">Price (Tshs)</th>
            <th scope="col">Activity</th>
          </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            {% if item.created_by == user %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.model_name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.store }}</td>
            <td>
              {% if item.quantity <= item.reorder_level %}
                <a href="{% url 'detail-items' item.id %}" class="text-primary badge bg-warning">{{ item.quantity }}</a>
              {% else %}
                <a href="{% url 'detail-items' item.id %}" class="text-primary">{{ item.quantity }}</a>
              {% endif %}
            </td>
            <td>{{ item.quantity }}</a></td>
            <td>{{ item.price }}</td>
            <td>
                <a href="{% url 'edit-items' item.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'delete-items' item.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}  
        </tbody>
      </table>
      <!-- End Table with stripped rows -->
      <div  class="">
        Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </div>
      <ul class="pagination align-right float-end mr-auto">
        {% if page_obj.has_previous %}
        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-rewind"></i></a></li>
        {% endif %}
        
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="bi bi-fast-forward"></i></a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a></li>
        {% endif %}

    </ul>
    </div>
  </div>
    
{% endblock content %}