{% extends 'base.html' %}
{% block title %} Items {% endblock title %}
{% load static %}
{% block content %}
<div class="pagetitle">
    <h1>Registered Items</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Items</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            {% comment %} <h5 class="card-title">Items</h5>
           
            <p>class name to any table you wish to conver to a datatable</p> {% endcomment %}

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Serial</th>
                  <th scope="col">Category</th>
                  <th scope="col">Store</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Warranty</th>
                  <th scope="col">Price (Tshs)</th>
                  {% comment %} <th scope="col">Activity</th> {% endcomment %}
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.brand }}</td>
                  <td>{{ item.serial_no }}</td>
                  <td>{{ item.category }}</td>
                  <td>{{ item.store }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.warranty }}</td>
                  <td>{{ item.price }}</td>
                  {% comment %} <td>
                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-pencil-fill"></i></a>
                        <a href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                  </td> {% endcomment %}
                </tr>
                {% endfor %}                  
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock content %}