{% extends 'base.html' %}
{% block title %} Order requests {% endblock title %}
{% block content %}
<div class="pagetitle">
    <h1>Order</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Order requests</li>
      </ol>
    </nav>
    
  </div><!-- End Page Title -->
  
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Orders</h5>
        
        <div class="row my-1">
          <div class="col-md-8"></div>
          
          <div class="col-md-4">
              <div class="form-group">
                  <input type="text" class="form-control" id="searchField" placeholder="Search" />
              </div>
          </div>
      </div> <!--end search bar-->
        {% if orders.count %}
        <!-- Table with stripped rows -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
              {% for order in page_obj %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <a href="{% url 'order-detail' order.id %}" class="text-primary">
                  {{ order.item.name }}: {{ order.item.brand.name }}-{{ order.item.model_name.model_name }}
                </a>
              </td>
              <td>{{ order.quantity }}</td>
              <td>
                {% if order.status == 'Pending' %}
                  <span class="badge bg-warning">{{ order.status }}</span>
                {% elif order.status == 'Approved' %}
                  <span class="badge bg-success">{{ order.status }}</span>
                {% else %}
                  <span class="badge bg-danger">{{ order.status }}</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- End Table with stripped rows -->
        <div  class="">
          Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        <ul class="pagination align-right float-end mr-auto">
          {% if page_obj.has_previous %}
          <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-rewind"></i></a></li>
          {% endif %}
          
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="bi bi-fast-forward"></i></a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a></li>
          {% endif %}
    
      </ul>
      {% endif %}
      </div>
    </div>

{% endblock content %}