{% extends 'base.html' %}
{% block title %} Edit order {% endblock title %}
{% block content %}
<div class="pagetitle">
    <h1>Order</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'order-manage' %}">Manage order</a></li>
        <li class="breadcrumb-item active">Edit order</li>
      </ol>
    </nav>
    
  </div><!-- End Page Title -->
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Update order request</h5>
      <p>
        Browser default validation with using the <code>required</code> keyword.
      </p>

      <!-- Browser Default Validation -->
      <form action="" method="POST" class="row g-3">
        {% csrf_token %}

        <div class="col-md-5">
            <div class="form-floating mb-3">
              <select class="form-select" name="item" id="floatingSelect" aria-label="State">
                {% for item in items %}
                  <option value="{{item.name}}">
                    {{item.name}}: {{item.brand.name}}-{{item.model_name.model_name}}
                  </option>
                {% endfor %}
              </select>
              <label for="floatingSelect">Item</label>
            </div>
          </div>

        <div class="col-md-5">
            <div class="form-floating">
            <input
                type="number"
                class="form-control"
                name="quantity"
                id="floatingName"
                value="{{values.quantity}}"
                placeholder="Quantity"
                required
            >
            <label for="floatingName">Quantity</label>
        </div>
        </div>

        
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Update request</button>
        </div>
      </form>
      <!-- End Browser Default Validation -->

    </div>
</div>

{% endblock content %}